:root {
  --el-color-primary: #795548;
  --el-color-primary-light-3: #A1887F;
  --el-color-primary-light-5: #BCAAA4;
  --el-color-primary-light-7: #D7CCC8;
  --el-color-primary-light-8: #E4DDDA;
  --el-color-primary-light-9: #F2EEED;
  --el-color-primary-dark-2: #61443A;
}
